<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>数据双向绑定</title>

</head>

<body>
    <div id='app'>
        <input type="text" value="Hello" v-model="massage">
        <!-- 通过v-model可以直接把massage传到{{massage}}中 -->
        <div>{{massage}}</div>
        <!-- 单选框 -->
        <select v-model="selected">
            <!-- disabled 是禁用，只能看不能选，作为展示使用 -->
            <option disabled value="">请选择</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <span>你的选项是: {{selected}}</span>
    </div>
</body>
<script>
    var vue = new Vue({
        el: '#app',
        data: {
            massage:"Hello World",
            selected:''
        }
    })
</script>
</html>