<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Axios</title>

</head>

<body>
    <div id='app'>
        <div>
            名称：{{info.name}}
        </div>
        <div>
            <!-- href 指定路由(字符串)，写死的 -->
            <!-- Url：<a target="_blank" href="http://www.baidu.com">{{info.url}}</a> -->
            Url：<a target="_blank" :href="info.url">{{info.url}}</a>
            <!-- v-bind:绑定 ：是v-bind的缩写  :href后面的路由是变量-->
        </div>
        <div>
            地址：{{info.address.country}} --> {{info.address.city}} --> {{info.address.street}}
        </div>
        <div>
            <ul> 
                <!-- 数据用ul 下 li -->
                <li v-for="link in info.links">
                    {{link.name}} -->
                    <a target='_blank' :href='link.url'>{{link.url}}</a>
                </li>
            </ul>
        </div>
    </div>
</body>
<script>
    var vue = new Vue({
        el: '#app',
        data(){
            return{
                info:{
                    name:'',
                    url:'',
                    address:{
                        country:'',
                        city:'',
                        street:''
                    },
                    links:[
                        {name:''},
                        {url:''}
                    ]

                }
            }
        },
        mounted(){
            axios
                .get('data.json')
                .then(response=>this.info=response.data);
                //http-server插件下载运行
        }
    })
</script>

</html>